.experience {
    display: flex;
    gap: 20px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 0 auto;
}

.experience-img {
    align-items: center;
    width: 350px;
    height: 350px;
    border-radius: 8px;
    object-fit: contain;
}

.experience-info {
    flex: 1;
    padding-left: 5rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.project-description {
    font-size: 16px;
    color: #b0b0b0;
}

.date-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience-deatils {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.details {
    color: #b0b0b0;
}