.title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 60px;
    align-items: center;
    margin-top: 15rem;
    margin-bottom: 25rem;
    gap: 4rem;

    .icon {
        color: white;
        width: 40px;
        height: 40px;
        transition: transform 0.3s ease;
    }
}

.icon:hover {
    transform: scale(1.2);
}

.profile-image {
    width: 250px;
    height: auto;
    border-radius: 1rem;
    align-self: center;
}
